@media screen and (max-width: 500px) {
  .top-container-lefttside-content,
  .top-container-lefttside-content-logo {
    /* display:none; */
    margin: left 10px;
  }
  .scroll-nav {
    /* padding:5px;
    margin:5px; */
    overflow-x: auto;
    white-space: nowrap;
  }
  .top-container-rightside-content, .sub_navigation, .navigation-items2, .show-hide {
    display: none;
  }
  .news-container {
    padding:0;
    margin:0;
  }
}
